@page
@using Delly.Note.Razor.Pages
@model IndexModel

<!-- 产品展示 -->
<section id="products" class="products-section">
    <h2 class="section-title">@Model.Lpm.SelectProduct</h2>
    <div class="product-grid"></div>
</section>
