@page
@using Delly.Note.Razor.Pages
@using Nuo.Extension
@model ListModel

<section class="note-section">
    @for (var i = 0; i < Model.NotePaged.Rows.Count; i += 3)
    {
        <div class="row">
            @for (var j = 0; j < 3; j++)
            {
                if (i + j >= Model.NotePaged.Rows.Count) { break; }
                var row = Model.NotePaged.Rows[i + j];
                <div class="note" style="border-left: 6px solid #7ab968;">
                    <div class="tools">
                        <div class="right">
                            <a href="/MdEdit?id=@row.Id"><img src="/image/edit.svg" alt="" /></a>
                            <a href="javascript:;"><img src="/image/delete.svg" alt="" /></a>
                        </div>
                    </div>
                    <h1><a href="/Content?id=@row.Id" target="_blank">@row.Title</a></h1>
                    <span>于 @row.LastModificationTime.ToString("yyyy-MM-dd HH:mm") 最后更新</span>
                    <span>于 @row.CreationTime.ToString("yyyy-MM-dd HH:mm")前 创建</span>
                </div>
            }
        </div>
    }
</section>
<!-- 页码 -->
<section class="paged">
    @if (Model.NotePaged.Page > 1)
    {
        <a href="/product?lang=@Model.Language&key=@Uri.EscapeDataString(Model.Key)&page=1">&lt;&lt;</a>
        <a href="/product?lang=@Model.Language&key=@Uri.EscapeDataString(Model.Key)&page=@(Model.NotePaged.Page - 1)">&lt;</a>
    }
    @if (Model.NotePaged.Page < Model.NotePaged.PageTotal)
    {
        <a href="/product?lang=@Model.Language&key=@Uri.EscapeDataString(Model.Key)&page=@(Model.NotePaged.Page + 1)">&gt;</a>
        <a href="/product?lang=@Model.Language&key=@Uri.EscapeDataString(Model.Key)&page=@Model.NotePaged.PageTotal">&gt;&gt;</a>
    }
</section>
