.content-body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--dark-bg);
}

.content-header .nav-container {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    height: 3.4rem;
}

.content-header .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.content-header .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.content-header .nav-left .logo-link {
    display: block;
    height: 2.4rem
}

.content-header .nav-left .logo-link img {
    height: 100%;
}

.content-header .nav-left h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--primary-color);
}

.content-header .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;
}

.content-header .nav-right a {
    padding: 0 0.8rem;
    line-height: 1.7rem;
    font-size: 0.8rem;
    border-radius: 3px;
}

/* 编辑标题栏 */
.content-title {
    display: block;
    background: var(--primary-color);
    color: var(--dark-text);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--split);
    margin-top: 3.4rem;
}

/* .content-title h1 {
    padding-left: 0.5rem;
} */

.content-title span {
    color: var(--dark-text-weak);
    font-size: 0.8rem;
}

/* 编辑内容区 */
.content-container {
    background: var(--primary-color);
    color: var(--dark-text);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.content-container .catalog {
    width: 20%;
    min-width: 240px;
    overflow: auto;
}

.content-container .catalog .area {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content-container .catalog h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0.5rem 0;
}

.content-container .catalog li {
    color: var(--dark-text-weak);
}

.content-container .html {
    flex: 1;
    overflow-y: auto;
}

.content-container .html .area {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.content-container .html .area>*:first-child {
    margin-top: 0 !important;
}

.content-container .html h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
}

.content-container .html h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
}

.content-container .html h3 {
    font-size: 1.5em;
    line-height: 1.43;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
}

.content-container .html p,
.content-container .html blockquote,
.content-container .html ul,
.content-container .html ol,
.content-container .html dl,
.content-container .html table,
.content-container .html pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.content-container .html ol,
.content-container .html ul {
    padding-left: 2rem;
}

/* 移动端适配 */
@media (max-width: 768px) {

    .content-container .catalog {
        display: none;
    }

}