/* logo展示区 */
.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.logo-section .logo {
    width: 180px;
}

.logo-section h1 {
    padding: 0.6rem;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
}

.logo-section span {
    font-size: 1rem;
    color: var(--primary-color);
}

.note-section {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 2rem 2rem;
    border-top: 1px solid var(--dark-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.note-section .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.note-section .note {
    width: 100%;
    background: var(--light-bg);
    border-radius: 6px;
    padding: 0.8rem 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-section .note h1 {
    padding: 0;
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dark-text);
}

.note-section .note h1 a {
    color: var(--dark-text);
    text-decoration: none;
}

.note-section .note span {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
    color: var(--dark-text-weak);
}

.note-section .note .tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0.5rem;
    flex-direction: row;
}

.note-section .note .tools .left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-direction: row;
}

.note-section .note .tools .right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    flex-direction: row;
    padding: 0 0.5rem;
}

.note-section .note .tools .right a {
    display: block;
}

.note-section .note .tools .right img {
    display: block;
    height: 0.8rem;
}

/* 移动端适配 */
@media (max-width: 768px) {

    .note-section .row {
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
    }

}