/* 页面标题 */
.page-title {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    /*justify-content: center;*/
    /*text-align: center;*/
    border-bottom: 1px solid var(--split);
    font-size: 1.2rem;
    color: var(--dark-text);
}

.page-title s {
    display: block;
    width: 0.5rem;
    height: 1.8rem;
    background: var(--primary-color);
}

.page-title span {
    margin: 0 0.8rem;
}

.page-title a {
    margin: 0 0.8rem;
    text-decoration: none;
    color: var(--dark-text);
}

.page-title i {
    color: var(--split);
}


/* 产品展示区 */
.note-section {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.note-section .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.note-section .note {
    width: 100%;
    background: var(--light-bg);
    border-radius: 6px;
    padding: 0.5rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-section .note h1 {
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dark-text);
}

.note-section .note h1 a {
    color: var(--dark-text);
    text-decoration: none;
}

.note-section .note span {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    font-style: italic;
    color: var(--dark-text-weak);
}

.note-section .note .tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0.5rem;
    flex-direction: row;
}

.note-section .note .tools .left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-direction: row;
}

.note-section .note .tools .right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    flex-direction: row;
}

.note-section .note .tools .right a {
    display: block;
}

.note-section .note .tools .right img {
    display: block;
    height: 0.8rem;
}

/* 分页 */
.paged {
    padding: 1rem;
    text-align: center;
}

.paged a {
    text-decoration: none;
    color: var(--dark-text);
    margin: 0 1rem;
}

.paged span {
    color: var(--text);
    margin: 0 1rem;
}

/* 移动端适配 */
@media (max-width: 768px) {

    .note-section .row {
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
    }
    
}