.edit-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.edit-header {
    width: 100%;
}

.edit-header .nav-container {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    height: 3.4rem
}

.edit-header .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.edit-header .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.edit-header .nav-left .logo-link {
    display: block;
    height: 2.4rem
}

.edit-header .nav-left .logo-link img {
    height: 100%;
}

.edit-header .nav-left h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--primary-color);
}

.edit-header .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;
}

.edit-header .nav-right a {
    padding: 0 0.8rem;
    line-height: 1.7rem;
    font-size: 0.8rem;
    border-radius: 3px;
}

/* 编辑标题栏 */
.edit-title {
    display: block;;
}

.edit-title input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5rem;
    line-height: 2.6rem;
}

/* 编辑内容区 */
.edit-container {
    flex: 1;
}